body, html {
	padding: 0 !important;
	margin: 0 !important;
}

body {
	background: Aqua;
	
}

nav {
	height: 50px;
	width: 100%;
	background: green;
	position: fixed;
	top: 0;
	left: 0;
	z-index:10000;
}

main {
	position: relative;
	top:50px;
}

li {
	font-family: Tahoma;
	font-size: 2vw; /* wartość procentowa, zależna od wysokości widoku strony WWW*/
	color: DarkBlue;
	background: AliceBlue;
}

/*najpierw wybierz element z atrybutem ID=atrybuty
następnie z już wybranego elementu wybierz wszystkie te mające
znacznik li */
#atrybuty li {
	/*zmiana koloru na biały*/
	background: white;
	/*skasowanie koloru elemetu, który został dopisany wcześniej
	w ramach innego selektora*/
	/* ustawienie koloru na przezroczysty*/
	background: transparent;
	/* ustawienie właściwości tła na pierwotną */
	background: inherit;
	/*w tym wypadku CSS najpierw przypisze nam białe tło,
	później zmieni jego kolor na przezroczysty, na koniec
	zmieni ustawienia na wewnętrzne */
	/* domyślna wielkość czcionek, zmiana po odziedziczonej
	z poprzedniego selektora*/
	font-size: inherit;
}

table {
	width: 100%;
	text-align: center;
	/*
		Odpowiednik poniższego komentarza 
		border-width: 1px;
		border-style: solid;
		border-color: black;
		*/
	border: 1px solid black;
	border-collapse: collapse;
}

/* przecinek jest separatorem poszczególnych selektorów
 spacja jest separatorem łącznikowym, natomiast przecinek
 oddziela każdy NIEZALEŻNY selektor*/
table tr td, table tr th{
	border: 1px solid black;
	padding: 5px 10px;
}

.pieniadze {
	text-align: right;
}

table#tabelaNowa tr td:first-child {
	text-align: right;
}


table tr td:first-child {
	text-align: left;
}


/*ten selektro ma mniejszą szczegółowość niż 
table#tabelaNowa tr td:first-child (bo tamten ma identyfikator,
który jest 100x ważniejszy niż samo table)
w związku z tym jeżeli chcemy by właściwość została zastosowana
dla wszystkich elementów każdej tabeli musimy użyć
parametru (dyrektywy) !important nakazującej stosowanie 
tak dodanej właściwości jako najważniejszej (od pozostałych) */
table tr:last-child td:first-child {
	text-align: center !important;
}

/*
alternatywnie można dodać jeszcze raz odpowiednią właściwość
bądź wymienić ją po przecinku z poprzednim selektorem */
table#tabelaNowa tr:last-child td:first-child {
	text-align: center;
}*/